<body class="bg-gray-100">
    <link rel="stylesheet" href="/css/navbar.css">
    <div class="mb-5">
        <nav class="bg-white shadow-lg sticky top-0">
            <div class="max-w-7xl mx-auto px-4">
                <div class="flex justify-between items-center h-16">
                    <!-- Website name/logo -->
                    <div class="flex-shrink-0">
                        
                        <a href="/listings" class="font-bold text-xl text-gray-800"><i class="fa-solid fa-mountain-sun text-lg text-black px-1"></i>VillaVenture </a>
                    </div>
                    <!-- Menu links -->
                    <!-- Search field -->
                    <div class="relative md:block">
                        <form action="/listings" method="GET" class="flex items-center">
                            <input type="text" name="search" placeholder="Search..." class="border border-gray-300 rounded-lg py-1 px-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
                            <button type="submit" class="absolute right-0 top-0 mt-2 mr-2">
                                <svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"></path>
                                </svg>
                            </button>
                        </form>
                    </div>

                    <% if(currentUser) { %>
                        <div class="hidden md:flex md:items-center gap-1.5">
                            <a href="/listings/new" class="nav-link text-gray-600 hover:text-blue-600">Create Listing</a>
                            <a href="/logout" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg transition-all duration-300">Logout <i class="fa-solid fa-right-from-bracket text-sm text-white"></i></a>
                        </div>
                    <% } else {%>
                        <div class="hidden md:flex md:items-center">
                            <a href="/signup" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg transition-all duration-300"><i class="fa-solid fa-right-to-bracket text-sm text-white px-2"></i>Getting Started</a>
                        </div>
                    <% } %>

                    

                    <!-- Hamburger menu button for mobile -->
                    <div class="md:hidden flex items-center">
                        <button class="hamburger block text-gray-800 focus:outline-none">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Mobile menu -->
            <div class="menu md:hidden bg-white">
                <a href="/listings" class="menu-link block py-3 px-4 text-gray-800 hover:bg-gray-100 transition-colors">Listings</a>
                <a href="/listings/new" class="menu-link block py-3 px-4 text-gray-800 hover:bg-gray-100 transition-colors">Add Listing</a>
                <% if(currentUser) { %>
                    <a href="/logout" class="menu-link block py-3 px-4 text-gray-800 hover:bg-gray-100 transition-colors">Logout</a>
                <% } %>
                <% if(!currentUser) { %>
                    <a href="/signup" class="menu-link block py-3 px-4 bg-blue-500 hover:bg-blue-600 text-white font-bold text-center transition-colors"><i class="fa-solid fa-right-to-bracket text-sm text-white px-2"></i>Get Started</a>
                <% } %>

            </div>
        </nav>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
    <script src="/js/navbar.js"></script>
</body>
